<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Add Movie</title>
</head>
<body>
<form action="/movies/add" method="post">
  {% csrf_token %}
  <input type="text" name="title" id="title" placeholder="Movie Title">
  <br><br>
  <input type="number" name="year" id="year" placeholder="Movie Year">
  <br><br>
  <input type="submit" value="Add">
</form>
</body>
</html>